@page "/master/SensorData"

@inject IJSRuntime jsRuntime
@inject NavigationManager NavMgr
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IDialogService DialogService
@using System.IO

<h1>Daftar SensorData</h1>

<p>Gunakan halaman ini untuk melihat info SensorData.</p>

@if (DataSensorData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Context="item" Items="@DataSensorData" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<SensorData,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Data SensorData</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Tanggal</MudTh>
            <MudTh>Pressure</MudTh>
            <MudTh>Dissolved Oxygen</MudTh>
            <MudTh>Water Level</MudTh>
            <MudTh>Ph</MudTh>
            <MudTh>TDS</MudTh>
            <MudTh>Temperature</MudTh>
            <MudTh>Altitude</MudTh>
            <MudTh>Device ID</MudTh>
            <MudTh>Depot</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Tanggal">@item.Tanggal.ToString("dd/MMM/yyyy HH:mm")</MudTd>
            <MudTd DataLabel="Pressure">@item.Pressure</MudTd>
            <MudTd DataLabel="Dissolved Oxygen">@item.DO</MudTd>
            <MudTd DataLabel="Water Level">@item.WaterLevel</MudTd>
            <MudTd DataLabel="Ph">@item.Ph</MudTd>
            <MudTd DataLabel="TDS">@item.Tds</MudTd>
            <MudTd DataLabel="Temperature">@item.Temperature</MudTd>
            <MudTd DataLabel="Altitude">@item.Altitude</MudTd>
            <MudTd DataLabel="Device ID">@item.DeviceId</MudTd>
            <MudTd DataLabel="Depot">@item.WaterDepot.Nama</MudTd>
            <MudTd DataLabel="Actions">
                @if (HasLogin)
                {
                <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForEdit(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Ubah</MudButton>
                <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForDelete(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Error" Class="mr-2">Hapus</MudButton>
                }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
        <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
        <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    </div>


}
@if (HasLogin)
{
    <MudPaper Class="pa-4 mt-4">
        <MudButton ButtonType="ButtonType.Button" @onclick="(() => InitializeitemObject())" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Masukan SensorData Baru</MudButton>
    </MudPaper>
}

@code {
    bool HasLogin = false;
    SensorDataDetail detail;
    WaterPositive.Web.Data.SensorDataService service;
    string customHeader = string.Empty;
    List<SensorData> DataSensorData;
    SensorData itemObject = new SensorData();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;

    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString1 = "";
    private SensorData selectedItem1 = null;

    private HashSet<SensorData> selectedItems = new HashSet<SensorData>();

    private bool FilterFunc1(SensorData element) => FilterFunc(element, searchString1);

    private bool FilterFunc(SensorData element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Tanggal.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    async Task DownloadFile(string Url)
    {
        if (!string.IsNullOrEmpty(Url))
        {
            NavMgr.NavigateTo(Url, true);
        }
        else
        {
            toastService.ShowError("Url kosong atau tidak valid.");
        }
    }

    WaterPositive.Web.Data.UserProfileService Userservice;
    protected override async Task OnInitializedAsync()
    {

        if (Userservice == null) Userservice = new UserProfileService();
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            HasLogin = true;// Userservice.GetUserRole(UserName) == Roles.Admin;
        }

        if (service == null) service = new SensorDataService();

        DataSensorData = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    private async Task InitializeitemObject()
    {

        itemObject = new SensorData();

        customHeader = "Masukan Sensor Data Baru";

        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<SensorDataDetail>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            long.TryParse(result.Data.ToString(), out var NewId);
        }
    }
    private async void DataChanged()
    {
        DataSensorData = service.GetAllData();
        StateHasChanged();
    }

    private async Task PrepareForEdit(SensorData item)
    {
        customHeader = "Ubah Data Sensor Data";
        itemObject = item;
        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<SensorDataDetail>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            long.TryParse(result.Data.ToString(), out var NewId);
        }

    }
    private async Task PrepareForDelete(SensorData item)
    {
        itemObject = item;
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = DialogService.Show<ConfirmDialog>("Konfirmasi", options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var task = service.DeleteData(itemObject.Id);
            //await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
            DataSensorData = service.GetAllData();
            itemObject = new SensorData() { Id = -1 };
        }
    }


}

