@page "/master/WaterUsage"

@inject IJSRuntime jsRuntime
@inject NavigationManager NavMgr
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IDialogService DialogService
@using System.IO
@inject WaterPositive.Web.Data.UserProfileService Userservice

<h1>Daftar Water Usage</h1>

<p>Gunakan halaman ini untuk melihat info Water Usage.</p>

@if (DataWaterUsage == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Context="item" Items="@DataWaterUsage" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<WaterUsage,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Data Water Usage</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Tanggal</MudTh>
            <MudTh>Nama</MudTh>
            <MudTh>Volume</MudTh>
            <MudTh>Depot</MudTh>
      
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Tanggal">@item.Tanggal?.ToString("dd/MMM/yyyy HH:mm")</MudTd>
            <MudTd DataLabel="Nama">@item.User.FullName</MudTd>
            <MudTd DataLabel="Volume">@item.Volume</MudTd>
            <MudTd DataLabel="Depot">@item.WaterDepot.Nama</MudTd>
        
            <MudTd DataLabel="Actions">
                @if(MyRole == Roles.Admin)
                {
                    <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForEdit(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Ubah</MudButton>
                    <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForDelete(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Error" Class="mr-2">Hapus</MudButton>
                }
                else
                {
                    <p>-</p>
                }
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
        <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
        <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    </div>


}
@if (MyRole == Roles.Admin)
{
    <MudPaper Class="pa-4 mt-4">
        <MudButton ButtonType="ButtonType.Button" @onclick="(() => InitializeitemObject())" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Masukan Water Usage Baru</MudButton>
    </MudPaper>
}

@code {
    bool HasLogin = false;
    WaterUsageDetail detail;
    WaterPositive.Web.Data.WaterUsageService service;
    string customHeader = string.Empty;
    List<WaterUsage> DataWaterUsage;
    WaterUsage itemObject = new WaterUsage();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;
    Roles MyRole = Roles.Unknown;
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString1 = "";
    private WaterUsage selectedItem1 = null;

    private HashSet<WaterUsage> selectedItems = new HashSet<WaterUsage>();

    private bool FilterFunc1(WaterUsage element) => FilterFunc(element, searchString1);

    private bool FilterFunc(WaterUsage element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.User.FullName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.WaterDepot.Nama.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    async Task DownloadFile(string Url)
    {
        if (!string.IsNullOrEmpty(Url))
        {
            NavMgr.NavigateTo(Url, true);
        }
        else
        {
            toastService.ShowError("Url kosong atau tidak valid.");
        }
    }


    protected override async Task OnInitializedAsync()
    {


        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            HasLogin = true;
            MyRole = Userservice.GetUserRole(UserName);
        }

        if (service == null) service = new WaterUsageService();
        Refresh();
    }

    void Refresh()
    {
        if(MyRole == Roles.Admin)
            DataWaterUsage = service.GetAllData();
        else
            DataWaterUsage = service.GetAllData(UserName);       
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    private async Task InitializeitemObject()
    {

        itemObject = new WaterUsage();

        customHeader = "Masukan Water Usage Baru";

        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<WaterUsageDetail>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            long.TryParse(result.Data.ToString(), out var NewId);
        }
    }
    private async void DataChanged()
    {
        Refresh();
        StateHasChanged();
    }

    private async Task PrepareForEdit(WaterUsage item)
    {
        customHeader = "Ubah Data Water Usage";
        itemObject = item;
        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<WaterUsageDetail>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            long.TryParse(result.Data.ToString(), out var NewId);
        }

    }
    private async Task PrepareForDelete(WaterUsage item)
    {
        itemObject = item;
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = DialogService.Show<ConfirmDialog>("Konfirmasi", options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var task = service.DeleteData(itemObject.Id);
            Refresh();
            itemObject = new WaterUsage() { Id = -1 };
        }
    }


}

